$body_color: #000;
$wrapper_color: #FFDEAD;
$container_color: #EEE9E9;

$newGameButtonColor: #00BFFF;
$newGameButtonColorHover: #00B2EE;
$newGameButtonColorActive: #009ACD;

$backToGameButtonColor: #8470FF;
$backToGameButtonColorHover: #7B68EE;
$backToGameButtonColorActive: #6A5ACD;

$soundOnOffButtonColor: #B9D3EE;
$soundOnOffButtonColorHover: #9FB6CD;
$soundOnOffButtonColorActive: #6C7B8B;

$tableHeaderColor: #00B2EE;
$tabRowHighlightedColor: #7B68EE;
$tabBodyColor: #EEE9E9;
$menuTextColor: #999999;

@mixin userselect($mode: none) {
    user-select: $mode;
    -moz-user-select: $mode;
    -webkit-user-select: $mode;
    -ms-user-select: $mode;
}

html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: $body_color;
    color: #fff;
}

.wrapper {
    position:relative;
    width: 100vMin;
    height: 100vh;
    margin: 0 auto;
    background-color: $wrapper_color;
    > .container {
        position: absolute;
        /*top: 55%;*/
        left: 50%;
        transform: translate(-50%);
        width: 95vmin;
        max-width: 75vh;
        > .canvas {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}

#infoContainer {
    @include userselect(none);
    height: calc( 20vh - 10px );
    top: calc(2.5vh + 1vmin);
    > .logoContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
    }
    > .menuContainer {
        position: absolute;
        top: 0;
        left: 25%;
        width: 75%;
        height: 100%;
        > .menuCol {
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            > .topMenuInfoContainer {
                position: absolute;
                top: 3%;
                left: 50%;
                transform: translate( -50% );
                width: 95%;
                height: 55%;
                border-radius: 10px;
                background-color: #EEE9E9;
                color: $menuTextColor;
                font-family: Arial, sans-serif;
                > .infoTopRow {
                    position: absolute;
                    top: 1.5vh;
                    left: 50%;
                    transform: translate( -50% );
                    width: 100%;
                    text-align: center;
                    font-size: 1.9vmin;
                }
                > .infoValue {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size: 4vh;
                    font-weight: bold;
                    transform: translate( -50% );
                }
            }
            > .menuButtonContainer {
                position: absolute;
                top: 11vh;
                width: 100%;
                height: 39%;
                > .topMenuButton {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate( -50%, -50% );
                    border-radius: 10px;
                    width: 95%;
                    height: 80%;
                    background-color: #FF9900;
                    box-shadow: 0 1px 1px #000;
                    &:hover {
                        background-color: #FF6600;
                        box-shadow: 0 1px 1px #000;
                    }
                    &:active {
                        background-color: #FF6600;
                        box-shadow: 0 0 0 #000;
                    }
                    > a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding-top: 1.7vh;
                        top: 0;
                        left: 0;
                        display: block;
                        color: #fff;
                        font-size: 2.5vmin;
                        font-family: Arial, sans-serif;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#logo {
    background-color: #FFCC33;
    margin: 5% 0 0 5%;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    text-align: center;
}

#l2048 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 5vmin;
}

#menuLeftCol {
    left: 0;
}

#menuRightCol {
    left: 50%;
}

#canvasContainer {
    height: 95vmin;
    max-height: 75vh;
    top: calc( 100vh - 77.5vh );
}

#pagesContainer {
    display: none;
    height: 95vmin;
    max-height: 75vh;
    top: calc( 100vh - 77.5vh );
}

#fieldButtonsContainer {
    @include userselect(none);
    display: none;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 50%;
    transform: translate( -50% );
    > .fieldInputContainer {
        position: absolute;
        top: 5%;
        left: 0;
        height: 8vh;
        max-height: 8vmin;
        width: 100%;
        > .fieldInput{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            outline: 0;
            outline-offset: 0;
            border: 1px solid $menuTextColor;
            background-color: #fff;
            padding: 4px 2px 4px 5px;
            text-align: center;
            font: normal 3.5vmin Arial, sans-serif;
            color: $menuTextColor;
            &:focus {
                outline: 0;
                border: 1px solid $newGameButtonColor;
                border-radius: 10px;
            }
        }
    }
    > .fieldButton {
        position: absolute;
        width: 100%;
        height: 8vh;
        max-height: 8vmin;
        left: 0;
        border-radius: 10px;
        box-shadow: 0 1px 1px #000;
        &:hover {
            box-shadow: 0 1px 1px #000;
        }
        &:active {
            box-shadow: 0 0 0 #000;
        }
        > a {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 2.5vmin;
            top: 0;
            left: 0;
            display: block;
            color: #fff;
            font-size: 3.5vmin;
            font-family: Arial, sans-serif;
            text-decoration: none;
        }
    }
    > .fieldOppositeButtonContainer {
        @include userselect(none);
        position: absolute;
        width: 100%;
        height: 8vh;
        max-height: 8vmin;
        left: 0;
        font-family: Arial, sans-serif;
        font-size: 3.5vmin;
        text-align: center;
        > .fieldOppositeButtonLeft {
            position: absolute;
            width: 20%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 10px 0 0 10px;
            box-shadow: 0 1px 1px #000;
            &:hover {
                box-shadow: 0 1px 1px #000;
            }
            &:active {
                box-shadow: 0 0 0 #000;
            }
            > a {
                display: block;
                width: 100%;
                height: 100%;
                color: #fff;
                text-decoration: none;
                padding-top: 2vmin;
            }
        }
        > .fieldOppositeButtonRight {
            position: absolute;
            width: 20%;
            height: 100%;
            left: 80%;
            top: 0;
            border-radius: 0 10px 10px 0;
            box-shadow: 0 1px 1px #000;
            &:hover {
                box-shadow: 0 1px 1px #000;
            }
            &:active {
                box-shadow: 0 0 0 #000;
            }
            > a {
                display: block;
                width: 100%;
                height: 100%;
                color: #fff;
                text-decoration: none;
                padding-top: 2vmin;

            }
        }
        > .fieldOppositeButtonCenter {
            position: absolute;
            width: 60%;
            height: 100%;
            left: 20%;
            top: 0;
            padding-top: 2vmin;
            background-color: $soundOnOffButtonColor;
            box-shadow: 0 1px 1px #000;
        }
    }
}

#buttonCellCountContainer {
    display: none;
    /*user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;*/
    top: 65%;
}

#buttonCellCountMinus,
#buttonCellCountPlus {
    cursor: pointer;
    background-color: $soundOnOffButtonColor;
    &:hover {
        background-color: $soundOnOffButtonColorHover;
    }
    &:active {
        background-color: $soundOnOffButtonColorActive;
    }
}

#buttonNewGame {
    display: none;
    top: 80%;
    background-color: $newGameButtonColor;
    color: #fff;
    &:hover {
        background-color: $newGameButtonColorHover;
    }
    &:active {
        background-color: $newGameButtonColorActive;
    }
}

#buttonMusicOnOff {
    display: none;
    top: 50%;
    background-color: $soundOnOffButtonColor;
    color: #fff;
    &:hover {
        background-color: $soundOnOffButtonColorHover;
    }
    &:active {
        background-color: $soundOnOffButtonColorActive;
    }
}

#buttonSoundOnOff {
    display: none;
    top: 35%;
    background-color: $soundOnOffButtonColor;
    color: #fff;
    &:hover {
        background-color: $soundOnOffButtonColorHover;
    }
    &:active {
        background-color: $soundOnOffButtonColorActive;
    }
}

#buttonBackToGame {
    display: none;
    top: 20%;
    background-color: $backToGameButtonColor;
    color: #fff;
    &:hover {
        background-color: $backToGameButtonColorHover;
    }
    &:active {
        background-color: $backToGameButtonColorActive;
    }
}

#buttonCellCount {
    top: 50%;
    background-color: $soundOnOffButtonColor;
    color: #fff;
    &:hover {
        background-color: $soundOnOffButtonColorHover;
    }
    &:active {
        background-color: $soundOnOffButtonColorActive;
    }
}

#resultsContainer {
    display: none;
    color: $menuTextColor;
    font: bold 3vh Arial, sans-serif;
    position: absolute;
    width: 80%;
    height: 90%;
    left: 50%;
    top: 3vh;
    transform: translate( -50% );
}

#resultsTitle {
    @include userselect(none);
    font-size: 3vmin;
    height: 6vh;
    text-align: center;
    padding-top: 1vh;
}

#resultsTable {
    @include userselect( none );
    font-size: 2.5vmin;
    font-weight: normal;
    /*border: 1px solid $menuTextColor;*/
    border-collapse: collapse;
    thead {
        border-radius: 10px;
        background-color: $tableHeaderColor;
        font-weight: normal;
        > tr {
            > th {
                padding-top: 1vh;
                padding-bottom: 1vh;   
                color: #fff;
            }
            > th:nth-of-type(1) {
                border-radius: 10px 0 0 0;
            }
            > th:nth-of-type(2) {
                /*border: 1px solid $tableHeaderColor;*/
            }
            > th:nth-of-type(3) {
                border-radius: 0 10px 0 0;
            }
        }
    }
    tbody {
        background-color: $tabBodyColor;
        > tr {
            transition: background 500ms, color 500ms;
            > td:nth-of-type(1) {
                text-align: right;
                padding-right: 2vh;
                padding-top: 0.5vh;
                padding-bottom: 0.5vh;
                border-top: 1px dotted $menuTextColor;
            }
            > td:nth-of-type(2) {
                text-align: left;
                padding-left: 1vh;
                padding-top: 0.5vh;
                padding-bottom: 0.5vh;
                border-top: 1px dotted $menuTextColor;
            }        
            > td:nth-of-type(3) {
                text-align: right;
                padding-right: 6vmin;
                padding-top: 0.5vh;
                padding-bottom: 0.5vh;
                border-top: 1px dotted $menuTextColor;
            }
            &:hover {
                background: white;
                color: $tabRowHighlightedColor;
                /*box-shadow: 3px 3px 3px #000;*/
            }
        }
    > tr:nth-of-type(10) {
        > td:nth-of-type(1) {
            border-radius: 0 0 0 10px;

        }
        > td:nth-of-type(3) {
            border-radius: 0 0 10px 0;
        }
    }
    }
}

.border {
    border: 1px dotted #000;
}
